<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Nous Cursos</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <header>
      <app-navbar></app-navbar>
      <div id="banner">
        <div class="container-fluid text-light min-vh-100 pt-5 pb-1">
          <h1 class="display-1">Nous Cursos</h1>
          <h2>Para aqueles que amam aprender</h2>
          <p class="lead">
            Somos uma insituição de ensino focada em prover cursos de extensão
            de qualidade com grande variedade de tópicos e disciplinas.
          </p>
        </div>
      </div>
    </header>
    <main class="my-5">
      <section class="container">
        <app-lista-cursos></app-lista-cursos>
        <app-lista-profs></app-lista-profs>
      </section>
    </main>
    <footer class="bg-dark text-light text-center py-4">
      <address>
        E-Mail:
        <a
          class="text-decoration-none text-light"
          href="mailto:atendimento@nous.com"
          >atendimento@nous.com</a
        >
        | Telefone:
        <a class="text-decoration-none text-light" href="tel:+55 71 90501-4581"
          >+55 71 90501-4581</a
        ><!-- gerado com https://randommer.io/Phone -->
      </address>
      <span>&copy; Nous Cursos 2020</span>
    </footer>
  </body>
</html>